{
  "presets": ["next/babel"],
  "plugins": [
    [
        "module-resolver",
        {
            "root": ["."],
            "alias": {
                "faker": "./utils/faker"
            }
        }
    ]
  ]
}
